<div>
<h3>Cart content</h3>
    <table class="table table-hover">
        <thead>
        <tr class="row-cols-auto">
            <td class="col-4">Title</td>
            <td class="col-2">Price</td>
            <td class="col-3"></td>
        </thead>
        </tr>
        <tbody>
        <tr ng-repeat="p in cartContent.items">
            <td>{{p.productTitle}}</td>
            <td>{{p.pricePerItem + ' x ' + p.quantity + ' = ' + p.totalPrice}}</td>
            <td>
                <button class="btn btn-primary" ng-click="removeFromCart(p.productId)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>