<div class="row">
    <h3 class="text-center">Billing addresses</h3>
    <div class="row mt-5 content-around">
        <div class="card m-3 col-3" ng-repeat="a in userData.addresses">
            <div class="card-body">
                <p class="card-text">City: {{a.city}}</p>
                <p class="card-text">Street: {{a.street}}</p>
                <p class="card-text">Office: {{a.officeNumber}}</p>
                <button class="btn btn-primary" ng-click="removeAddress(a.id)">Remove address</button>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" ng-click="addAddress()">Add Billing address</button>
    </div>
</div>