<div>
    <h3 class="mt-3">Orders</h3>
    <table class="table table-hover table-striped caption-top" ng-repeat="o in orders">
        <caption>Order #{{o.id}} items. Owner: {{o.ownerName}}. Delivery address: {{o.deliveryAddress}}</caption>
        <thead>
        <tr class="row-cols-auto">
            <th class="col-2">Title</th>
            <th class="col-2">Price per item</th>
            <th class="col-2">Quantity</th>
            <th class="col-4">Total price</th>
        </thead>
        </tr>
        <tbody>
        <tr ng-repeat="p in o.items">
            <td>{{p.productTitle}}</td>
            <td>{{o.pricePerItem}}</td>
            <td>{{o.quantity}}</td>
            <td>{{o.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="text-end"><b>Total:</b></td>
            <td>{{o.price}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="order.items.length == 0">
    <span><h3 class="mt-3">Cart is empty!</h3></span>
</div>