<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scooters</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="webjars/angular/1.8.2/angular.min.js"></script>
    <script src="webjars/angular-route/1.8.2/angular-route.min.js"></script>
    <script src="webjars/ngstorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app=market-front ng-controller="indexController">
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#!/" class="nav-link px-4 text-white">Catalog</a></li>
                <li ng-show="isUserLoggedIn()"><a href="#!/create_product" class="nav-link px-2 text-white">Create product</a></li>
            </ul>
            <div class="dropdown text-end" ng-show="isUserLoggedIn()">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#!/profile">My profile</a></li>
                    <li><a class="dropdown-item" href="#!/orders">Orders</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" ng-click="tryToLogout()">Logout</button></li>
                </ul>
            </div>
            <ul class="nav justify-content-end mb-md-0">
                <li class="nav-item text-end" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;"
                                   placeholder="username">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;"
                                   placeholder="password">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Login
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item text-end" ng-show="!isUserLoggedIn()" style="padding: 4px;">
                    <a class="btn btn-outline-warning btn-sm" href="#!/register">Register</a>
                </li>
                <li class="nav-item text-end" style="padding: 4px;">
                    <a class="btn btn-outline-warning btn-sm" href="#!/cart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container">
    <ng-view></ng-view>
    <script src="index.js"></script>
    <script src="catalog/catalog.js"></script>
    <script src="create_product/create_product.js"></script>
    <script src="edit_product/edit_product.js"></script>
    <script src="register/register_user.js"></script>
    <script src="cart/cart.js"></script>
    <script src="checkout/checkout.js"></script>
    <script src="user/orders/orders.js"></script>
    <script src="user/profile/profile.js"></script>
    <script src="user/billing/addresses.js"></script>
    <script src="order_pay/order_pay.js"></script>
    <script
            src="https://www.paypal.com/sdk/js?client-id=AZX9sEz_m_KSN8L6yOcKLZMq4BJ5bJ1uRpNzPE_5PqswQIRysphIDBii578puqKFxEEP-3QoK5O6Kk94&currency=RUB">
    </script>
</div>
<footer class="footer mt-auto py-3 bg-dark position-absolute bottom-0 end-0 w-100">
    <div class="container">
        <span class="text-muted">Hello World!</span>
    </div>
</footer>
</body>
</html>